<form class="form" action="/todo/{{id}}?_method=PUT" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input value="{{title}}" type="text" class="form-control" id="title" placeholder="Enter a todo" value="" name="title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea value="{{description}}" type="text" class="form-control" id="description" placeholder="Enter a description" name="description"></textarea>
  </div>
  <div class="form-group">
    <label for="priority">Priority</label>
    <select class="form-control" id="priority" name="priority">
      {{#select priority}}
      <option value="1">Priority 1</option>
      <option value="2">Priority 2</option>
      <option value="3">Priority 3</option>
      <option value="4">Priority 4</option>
      <option value="5">Priority 5</option>
      {{/select}}
    </select>
  </div>
  <button class="btn btn-danger" type="submit">Update</button>
  <a href="/todo/{{id}}" class="btn btn-primary"type="button" name="button">Nevermind</a>
</form>
