<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Welcome to {{title}}</h1>
    <a href="/todo"><button class="btn btn-primary" type="button" name="button">Get Started</button></a>
  </body>
</html>
